<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorized Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-200 flex flex-col h-screen">
    <div class="flex flex-row justify-between p-10">
      <div class="bg-blue-200 p-4">ClassCheck</div>
      <div class="bg-blue-200 p-4">Authorized</div>
    </div>
    <div class="w-full p-6 rounded-lg flex items-center justify-between">
      <div class="flex flex-col gap-6">
        <button class="bg-gray-400 p-6">Add/Remove Student</button>
        <button class="bg-gray-400 p-6">Add/Remove Teacher</button>
        <button class="bg-gray-400 p-6">Add/Remove Class</button>
        <button class="bg-gray-400 p-6">Student/Teacher/Class List</button>
      </div>

      <div class="flex flex-col gap-6 pl-6">
        <button class="bg-gray-400 p-6">Attendances</button>
        <button class="bg-gray-400 p-6">Bulk Data Transfer</button>
        <button class="bg-gray-400 p-6">Settings</button>
        <button class="bg-gray-400 p-6">Logout</button>
      </div>
    </div>
  </body>
</html>
