<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        body {
            background: linear-gradient(to bottom left, #6356c7, #6b00d7, #3e00b3, #190087, #150073);
            margin: 0;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            max-width: 400px;
            width: 90%;
        }
        .input-field {
            width: 100%;
        }
        .button-bg {
            background: #190087;
        }
        .button-bg:hover {
            background-color: #150073;
        }
        .button-active {
            background-color: #3e00b3;
        }
        .invalid {
            border-color: red;
        }
        .error-message {
            color: red;
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }
    </style>
</head>
<body>
    <div class="content">
        <form id="signupForm" action="/auth/signup" method="POST" class="mt-4">
            <label for="teacher_id" class="block mb-2">Teacher ID:</label>
            <input type="text" id="teacher_id" name="teacher_id" class="w-full p-2 border border-gray-300 rounded mb-4 input-field" />

            <label for="teacher_name" class="block mb-2">Name:</label>
            <input type="text" id="teacher_name" name="teacher_name" class="w-full p-2 border border-gray-300 rounded mb-2 input-field" />
    
            <label for="teacher_surname" class="block mb-2">Surname:</label>
            <input type="text" id="teacher_surname" name="teacher_surname" class="w-full p-2 border border-gray-300 rounded mb-4 input-field" />
            
            <label for="email" class="block mb-2">E-mail:</label>
            <input type="email" id="email" name="email" class="w-full p-2 border border-gray-300 rounded mb-2 input-field" placeholder="name@aydin.edu.tr"/>
            <div id="emailError" class="error-message"></div>
            
            <label for="password" class="block mb-1">Password: </label>
        <div class="w-full relative">
          <input
            type="password"
            id="password"
            name="password"
            class="w-full p-2 border border-gray-300 rounded mb-4 input-field {% if invalid_email or invalid_password %} input-error {% endif %}"
            placeholder="••••••••"
            required
          />
          <button type="button" class="absolute right-3 top-3 w-4 h-4">
            <img
              src="{{ url_for('static', filename='images/hide_password.png') }}"
              alt="Toggle Password Visibility"
              onclick="togglePasswordVisibility()"
              class="password-toggle"
            />
          </button>


        </div>
            
            <label for="confirmPassword" class="block mb-2">Rewrite your password:</label>
            <input type="password" id="confirm_password" name="confirmPassword" class="w-full p-2 border border-gray-300 rounded mb-2 input-field" placeholder="••••••••" />
            <div id="confirmPasswordError" class="error-message"></div>
            
            <!-- User already exists warning -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="error-message">{{ message }}</div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

            <input type="submit" value="Sign Up" class="button-bg hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg w-full mt-4" />
        </form>
    </div>
    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            var teacherId = document.getElementById('teacher_id');
            var teacherName = document.getElementById('teacher_name');
            var teacherSurname = document.getElementById('teacher_surname');
            var email = document.getElementById('email');
            var password = document.getElementById('password');
            var confirmPassword = document.getElementById('confirm_password');
            var emailError = document.getElementById('emailError');
            var passwordError = document.getElementById('passwordError');
            var confirmPasswordError = document.getElementById('confirmPasswordError');
            var isValid = true;
            var errorMessages = [];

            // Reset previous styles and errors
            teacherId.classList.remove('invalid');
            teacherName.classList.remove('invalid');
            teacherSurname.classList.remove('invalid');
            email.classList.remove('invalid');
            password.classList.remove('invalid');
            confirmPassword.classList.remove('invalid');
            emailError.textContent = '';
            passwordError.textContent = '';
            confirmPasswordError.textContent = '';

            // Validate email domain
            if (!email.value.endsWith('@aydin.edu.tr')) {
                isValid = false;
                emailError.textContent = "Invalid email domain. Only @aydin.edu.tr emails are allowed.";
                email.classList.add('invalid');
            }

            // Validate password
            if (password.value.length < 8 || password.value.length > 16 ||
                !/[A-Z]/.test(password.value) ||
                !/[a-z]/.test(password.value) ||
                !/[0-9]/.test(password.value)) {
                isValid = false;
                errorMessages.push("Your password must be 8-16 characters, include at least one lowercase letter, one uppercase letter, and a number.");
                password.classList.add('invalid');
            }

            // Check if passwords match
            if (password.value !== confirmPassword.value) {
                isValid = false;
                confirmPasswordError.textContent = "Passwords do not match.";
                confirmPassword.classList.add('invalid');
            }

            if (!isValid) {
                event.preventDefault();  // Prevent form submission
                passwordError.textContent = errorMessages.join(" ");
            }
            
        });
    </script>
</body>
</html>
